body {
	padding-top: 55px;
	padding-bottom: 10px;
}
footer {
    padding: 0;
}

ul.form-error {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.form-error li {
	color: #d9534f;
}

.centered {
	text-align: center;
}

.mealfield {
	cursor: pointer;
}

.orderedmealfield {
	background-color: #DFF0D8 !important;
}

.mealfieldhilighted {
	background-color: #DFF0D8 !important;
}

.orderedmealfield.orderedmealfieldhilighted {
	background-color: #f2dede !important;
}

td.mealfield.mealfieldhovered {
	background-color: #d9edf7 !important;
	 
}
table {
    margin-top: 13px;
}
.form-control {
    margin-bottom: 13px;
}
.input-group{
    margin-bottom: 13px;
}
.search-form {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 26px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    margin-right: 15px;
}
.search-div{


	margin-right: 10px;
}
.table-responsive {
    border: medium none;
    }